XML-Schemas/V4.4.01/Abnahme/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Autor: Udo Reuter
Version  : 4.4.02
Datum    : 31.10.2015
Historie  : Erweiterungen im Rahmen des AM Release AM4.62 ( Afo: 3148 ) 
Copyright Deutsche Post AG
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:err="urn:www-deutschepost-de:GeneralTypes/1.0/errorHandling" xmlns:common="urn:www-deutschepost-de:OrderManagement/CertificationOrderManagement/4.4/common" targetNamespace="urn:www-deutschepost-de:OrderManagement/CertificationOrderManagement/4.4/common">
	<xsd:import namespace="urn:www-deutschepost-de:GeneralTypes/1.0/errorHandling" schemaLocation="errorHandling.xsd"/>
	<xsd:simpleType name="ActionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="U"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="StreetName" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="StreetNumber" type="common:string20_Type" minOccurs="0"/>
			<xsd:element name="District" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="Zip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="CityName" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="CC" type="common:string2Fix_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CancelOrderRequestBulkType">
		<xsd:sequence>
			<xsd:element name="OrderHeader" type="common:OrderHeaderRequestCancelType"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="CancelOrderRequestType">
		<xsd:sequence>
			<xsd:element name="MsgHeader" type="common:MsgHeaderRequestType"/>
			<xsd:element name="OrderHeader" type="common:OrderHeaderRequestCancelType"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="CancelOrderRequestType_DOKU"/>
	<xsd:complexType name="CancelOrderResponseType">
		<xsd:sequence>
			<xsd:element name="Return" type="common:ReturnType"/>
			<xsd:element name="MsgHeader" type="common:MsgHeaderResponseType"/>
			<xsd:element name="OrderHeader" type="common:OrderHeaderResponseCancelType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ChangeCustDetailsType">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChangeItemType">
		<xsd:sequence>
			<xsd:element name="ItemID" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="TotalAmount" type="common:TotalAmountType" minOccurs="0"/>
			<xsd:element name="Ref" type="common:RefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="LineItem" type="common:LineItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChangeOrderRequestBulkType">
		<xsd:sequence>
			<xsd:element name="OrderHeader" type="common:OrderHeaderRequestChangeType"/>
			<xsd:element name="Parties" type="common:PartiesChangeType" minOccurs="0"/>
			<xsd:element name="Induction" type="common:InductionChangeType" minOccurs="0"/>
			<xsd:element name="ShipmentItem" type="common:ShipmentItemRequestChangeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Packaging" type="common:PackagingUpdateMethodChangeType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ChangeOrderRequestType">
		<xsd:sequence>
			<xsd:element name="MsgHeader" type="common:MsgHeaderRequestType"/>
			<xsd:element name="OrderHeader" type="common:OrderHeaderRequestChangeType"/>
			<xsd:element name="Parties" type="common:PartiesChangeType" minOccurs="0"/>
			<xsd:element name="Induction" type="common:InductionChangeType" minOccurs="0"/>
			<xsd:element name="ShipmentItem" type="common:ShipmentItemRequestChangeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Packaging" type="common:PackagingUpdateMethodChangeType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ChangeOrderRequestType_DOKU"/>
	<xsd:complexType name="ChangeOtherPartyType">
		<xsd:sequence>
			<xsd:element name="Role" type="xsd:string"/>
			<xsd:element name="CustID" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChangePackagingUpdateMethodType">
		<xsd:sequence>
			<xsd:element name="SlotQty" type="common:string5_Type" minOccurs="0"/>
			<xsd:element name="Type" type="common:string2Fix_Type" minOccurs="0"/>
			<xsd:element name="Qty" type="common:string5_Type" minOccurs="0"/>
			<xsd:element name="Package" type="common:PackageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="updateMethod" type="common:string10_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ChangePayerType">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0"/>
			<xsd:element name="Contract" type="common:ContractType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PaymentMeans" type="common:PaymentMeansType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CODAmountValueType">
		<xsd:attribute name="value" type="common:Number12.2_Type" use="required"/>
		<xsd:attribute name="currency" type="common:string3_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ContactType">
		<xsd:sequence>
			<xsd:element name="FirstName" type="common:string35_Type" minOccurs="0"/>
			<xsd:element name="LastName" type="common:string35_Type" minOccurs="0"/>
			<xsd:element name="Role" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="Position" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="Department" type="common:string40_Type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="Email" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="Phone" type="common:string25_Type" minOccurs="0"/>
			<xsd:element name="Fax" type="common:string25_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContractSeekType">
		<xsd:sequence>
			<xsd:element name="ContractID" type="common:string18_Type" minOccurs="0"/>
			<xsd:element name="ContractTypeCode" type="common:string10_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContractType">
		<xsd:sequence>
			<xsd:element name="ContractID" type="common:string18_Type" minOccurs="0"/>
			<xsd:element name="ContractTypeCode" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="IssueDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateChangeCancelOrderResponseBulkType">
		<xsd:sequence>
			<xsd:element name="Return" type="common:ReturnType"/>
			<xsd:element name="OrderHeader" type="common:OrderHeaderResponseCreateChangeType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="CreateChangeCancelOrderResponseType_DOKU"/>
	<xsd:complexType name="CreateChangeOrderResponseType">
		<xsd:sequence>
			<xsd:element name="Return" type="common:ReturnType"/>
			<xsd:element name="MsgHeader" type="common:MsgHeaderResponseType"/>
			<xsd:element name="OrderHeader" type="common:OrderHeaderResponseCreateChangeType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="CreateOrderRequestBulkType">
		<xsd:sequence>
			<xsd:element name="OrderHeader" type="common:OrderHeaderRequestCreateType"/>
			<xsd:element name="Parties" type="common:PartiesType"/>
			<xsd:element name="Induction" type="common:InductionType" minOccurs="0"/>
			<xsd:element name="ShipmentItem" type="common:ShipmentItemRequestCreateType" maxOccurs="unbounded"/>
			<xsd:element name="Packaging" type="common:PackagingType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="CreateOrderRequestType">
		<xsd:sequence>
			<xsd:element name="MsgHeader" type="common:MsgHeaderRequestType"/>
			<xsd:element name="OrderHeader" type="common:OrderHeaderRequestCreateType"/>
			<xsd:element name="Parties" type="common:PartiesType"/>
			<xsd:element name="Induction" type="common:InductionType" minOccurs="0"/>
			<xsd:element name="ShipmentItem" type="common:ShipmentItemRequestCreateType" maxOccurs="unbounded"/>
			<xsd:element name="Packaging" type="common:PackagingType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="CreateOrderRequestType_DOKU"/>
	<xsd:complexType name="CustDetailsChangeType">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustDetailsChangeTypeWithCustomsNumber">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="CustomsNumber" type="common:string1-50_Type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustDetailsSeekTypeGeneral">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustDetailsSeekTypePayerOnlyWithContract">
		<xsd:sequence>
			<xsd:element name="Contract" type="common:ContractSeekType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustDetailsSeekTypePayerWithCustIDAndContract">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type"/>
			<xsd:element name="Contract" type="common:ContractSeekType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustDetailsSeekTypePayerWithCustIDOptionalAndContract">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contract" type="common:ContractSeekType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustDetailsSeekTypePayerWithoutContract">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustDetailsType">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustDetailsTypeWithCustomsNumber">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="CustomsNumber" type="common:string1-50_Type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustOrderIDType">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type"/>
			<xsd:element name="SystemName" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="SystemID" type="common:string15_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DestinationType">
		<xsd:sequence>
			<xsd:element name="Dst" type="common:DstType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="prec" type="common:string1Fix_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="DstType">
		<xsd:sequence>
			<xsd:element name="Consignee" type="common:ConsigneeType" minOccurs="0"/>
			<xsd:element name="ProductName" type="common:string100_Type" minOccurs="0"/>
			<xsd:element name="DeliveryChoice" type="common:string1-20_Type" minOccurs="0"/>
			<xsd:element name="Content" type="common:ContentType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="from" type="common:string1-9_Type" use="optional"/>
		<xsd:attribute name="to" type="common:string1-9_Type" use="optional"/>
		<xsd:attribute name="cc" type="common:string2Fix_Type" use="optional"/>
		<xsd:attribute name="zip" type="common:string10_Type" use="optional"/>
		<xsd:attribute name="qty" type="common:QuantityType" use="optional"/>
		<xsd:attribute name="id" type="common:string1-20_Type" use="optional"/>
		<xsd:attribute name="addId" type="common:string1-50_Type" use="optional"/>
		<xsd:attribute name="addIdType" type="common:string1-10_Type" use="optional"/>
		<xsd:attribute name="precP" type="common:string1Fix_Type" use="optional"/>
		<xsd:attribute name="precT" type="common:string1Fix_Type" use="optional"/>
		<xsd:attribute name="bq" type="common:string4_Type" use="optional"/>
		<xsd:attribute name="tz" type="common:string1Fix_Type" use="optional"/>
		<xsd:attribute name="frankingIdPrefix" type="common:FrankingIdPrefixType" use="optional"/>
		<xsd:attribute name="frankingIdEncoding" type="common:string15_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ConsigneeType">
		<xsd:sequence>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="CustomsNumber" type="common:string1-50_Type" minOccurs="0"/>
			<xsd:element name="TaxID" type="common:string1-50_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContentType">
		<xsd:sequence>
			<xsd:element name="SenderReference" type="common:string100_Type" minOccurs="0"/>
			<xsd:element name="NatureOfGoods" type="common:NatureOfGoodsType" minOccurs="0"/>
			<xsd:element name="Explication" type="common:string1-200_Type" minOccurs="0"/>
			<xsd:element name="Comment" type="common:string1-200_Type" minOccurs="0"/>
			<xsd:element name="GWM" type="common:IndividualWeightType" minOccurs="0"/>
			<xsd:element name="TotalValue" type="common:ItemTotalAmountType" minOccurs="0"/>
			<xsd:element name="PostageAmount" type="common:ItemTotalAmountType" minOccurs="0"/>
			<xsd:element name="Document" type="common:DocumentType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ContentPiece" type="common:ContentPieceType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NatureOfGoodsType">
		<xsd:attribute name="gift" type="xsd:boolean" use="required"/>
		<xsd:attribute name="doc" type="xsd:boolean" use="required"/>
		<xsd:attribute name="sample" type="xsd:boolean" use="required"/>
		<xsd:attribute name="returnedGood" type="xsd:boolean" use="required"/>
		<xsd:attribute name="other" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="DocumentType">
		<xsd:attribute name="type" type="common:string1-40_Type" use="required"/>
		<xsd:attribute name="ref" type="common:string1-200_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="ContentPieceType">
		<xsd:attribute name="num" type="common:Number4.0_Type" use="optional"/>
		<xsd:attribute name="qty" type="common:Number2.0_Type" use="optional"/>
		<xsd:attribute name="desc" type="common:string1-35_Type" use="required"/>
		<xsd:attribute name="value" type="common:Number10.2_Type" use="required"/>
		<xsd:attribute name="currency" type="common:string3_Type" use="optional"/>
		<xsd:attribute name="weight" type="common:Number7.3_Type" use="required"/>
		<xsd:attribute name="unit" type="common:UnitType" use="optional"/>
		<xsd:attribute name="origin" type="common:string2Fix_Type" use="optional"/>
		<xsd:attribute name="hstariff" type="common:string1-12_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ErrorMessageType">
		<xsd:sequence>
			<xsd:element name="ErrDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="ErrCat" type="common:string1-10_Type" minOccurs="0"/>
			<xsd:element name="ErrCode" type="common:string1-10_Type"/>
			<xsd:element name="ErrDesc" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FinancialAccountType">
		<xsd:sequence>
			<xsd:element name="AccountHolder" type="common:string40_Type" minOccurs="0"/>
			<xsd:element name="AccountID" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="IBAN" type="common:IBANType" minOccurs="0"/>
			<xsd:element name="FinancialInstitution" type="common:string35_Type" minOccurs="0"/>
			<xsd:element name="CC" type="common:string2Fix_Type" minOccurs="0"/>
			<xsd:element name="BankCode" type="common:string8_Type" minOccurs="0"/>
			<xsd:element name="BIC" type="common:string11_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="FrankingIdPrefixType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="([0-9]|[A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="GetOrderRequestType">
		<xsd:sequence>
			<xsd:element name="MsgHeader" type="common:MsgHeaderRequestType"/>
			<xsd:element name="OrderHeader" type="common:OrderHeaderRequestGetType"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="includeDst" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="includePackaging" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="includeNVE" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="GetOrderResponseType">
		<xsd:sequence>
			<xsd:element name="Return" type="common:ReturnType"/>
			<xsd:element name="MsgHeader" type="common:MsgHeaderResponseType"/>
			<xsd:element name="OrderHeader" type="common:OrderHeaderResponseGetType" minOccurs="0"/>
			<xsd:element name="Parties" type="common:PartiesType" minOccurs="0"/>
			<xsd:element name="Induction" type="common:InductionType" minOccurs="0"/>
			<xsd:element name="ShipmentItem" type="common:ShipmentItemResponseGetType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Packaging" type="common:PackagingType" minOccurs="0"/>
			<xsd:element name="OrderTree" type="common:OrderTreeGetType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="GWMType">
		<xsd:attribute name="value" type="common:Number7.3_Type" use="required"/>
		<xsd:attribute name="unit" type="common:UnitType" use="optional"/>
	</xsd:complexType>
	<xsd:simpleType name="IBANType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="34"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="IndividualWeightType">
		<xsd:attribute name="value" type="common:Number9.3_Type" use="required"/>
		<xsd:attribute name="unit" type="common:UnitType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="InductionChangeType">
		<xsd:sequence>
			<xsd:element name="TransitDirectionCode" type="common:string1Fix_Type" minOccurs="0"/>
			<xsd:element name="ProductionPlantID" type="common:string20_Type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="EarliestDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="LatestDateTime" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InductionSeekResponseType">
		<xsd:sequence>
			<xsd:element name="EarliestDateTime" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InductionSeekType">
		<xsd:sequence>
			<xsd:element name="EarliestDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="LatestDateTime" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InductionType">
		<xsd:sequence>
			<xsd:element name="TransitDirectionCode" type="common:string1Fix_Type" minOccurs="0"/>
			<xsd:element name="ProductionPlantID" type="common:string20_Type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="EarliestDateTime" type="xsd:dateTime"/>
			<xsd:element name="LatestDateTime" type="xsd:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InsuredValueType">
		<xsd:attribute name="value" type="common:Number12.2_Type" use="required"/>
		<xsd:attribute name="currency" type="common:string3_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ItemResponseGetType">
		<xsd:sequence>
			<xsd:element name="ItemID" type="common:Number4.0_Type" minOccurs="0"/>
			<xsd:element name="TotalAmount" type="common:ItemTotalAmountType" minOccurs="0"/>
			<xsd:element name="Ref" type="common:RefResponseGetType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="LineItem" type="common:LineItemType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemTotalAmountType">
		<xsd:attribute name="value" type="common:Number10.2_Type" use="required"/>
		<xsd:attribute name="currency" type="common:string3_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ItemType">
		<xsd:sequence>
			<xsd:element name="ItemID" type="common:Number4.0_Type" minOccurs="0"/>
			<xsd:element name="TotalAmount" type="common:ItemTotalAmountType" minOccurs="0"/>
			<xsd:element name="Ref" type="common:RefType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="LineItem" type="common:LineItemType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LengthType">
		<xsd:attribute name="value" type="common:Number9.3_Type" use="required"/>
		<xsd:attribute name="unit" type="common:UnitType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="LineItemType">
		<xsd:sequence>
			<xsd:element name="ProductNumber" type="common:string1-9_Type" minOccurs="0"/>
			<xsd:element name="Variant" type="common:string50_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EarliestDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="LatestDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="MessageIdType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="21"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MsgHeaderRequestType">
		<xsd:sequence>
			<xsd:element name="MsgSource" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="MsgFormat" type="common:string32_Type" minOccurs="0"/>
			<xsd:element name="User" type="common:UserType" minOccurs="0"/>
			<xsd:element name="Password" type="common:PasswordType" minOccurs="0"/>
			<xsd:element name="MsgID" type="common:MessageIdType"/>
			<xsd:element name="ODOCID" type="common:ODOCIDType" minOccurs="0"/>
			<xsd:element name="CreationDateTime" type="xsd:dateTime"/>
			<xsd:element name="Receiver" type="common:string10_Type"/>
			<xsd:element name="CommunicationPartner" type="common:string32_Type" minOccurs="0"/>
			<xsd:element name="SubmitterSMS" type="common:SubmitterSMSType"/>
			<xsd:element name="Origin" type="common:OriginType"/>
			<xsd:element name="FreeText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MsgHeaderResponseType">
		<xsd:sequence>
			<xsd:element name="MsgFormat" type="common:string32_Type" minOccurs="0"/>
			<xsd:element name="MsgID" type="common:MessageIdType"/>
			<xsd:element name="ODOCID" type="common:ODOCIDType" minOccurs="0"/>
			<xsd:element name="CreationDateTime" type="xsd:dateTime"/>
			<xsd:element name="Receiver" type="common:string10_Type"/>
			<xsd:element name="CommunicationPartner" type="common:string32_Type" minOccurs="0"/>
			<xsd:element name="Origin" type="common:OriginType" minOccurs="0"/>
			<xsd:element name="FreeText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Number10.0_Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="10"/>
			<xsd:fractionDigits value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number10.2_Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="10"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number10Type">
		<xsd:restriction base="xsd:unsignedLong">
			<xsd:totalDigits value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number10_Type">
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number12.2_Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="12"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number13Type">
		<xsd:restriction base="xsd:unsignedLong">
			<xsd:totalDigits value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number2.0_Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="2"/>
			<xsd:fractionDigits value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number3Type">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number4.0_Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="4"/>
			<xsd:fractionDigits value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number4Type">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number5.0_Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number5Type">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number6.0_Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="6"/>
			<xsd:fractionDigits value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number7.3_Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="10"/>
			<xsd:fractionDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number8Type">
		<xsd:restriction base="xsd:integer">
			<xsd:totalDigits value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number9.0_Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="9"/>
			<xsd:fractionDigits value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Number9.3_Type">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="9"/>
			<xsd:fractionDigits value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="NWMType">
		<xsd:attribute name="value" type="common:Number7.3_Type" use="required"/>
		<xsd:attribute name="unit" type="common:UnitType" use="optional"/>
	</xsd:complexType>
	<xsd:simpleType name="ODOCIDType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="OmMessageContentType">
		<xsd:sequence>
			<xsd:element name="OmMessageState" type="common:string4_Type"/>
			<xsd:element name="OmMessageID" type="common:string25_Type"/>
			<xsd:element name="CreationDateTime" type="xsd:dateTime"/>
			<xsd:element name="Rubric" type="common:RubricType"/>
			<xsd:element name="TemplateID" type="common:string5_Type"/>
			<xsd:element name="Text" type="xsd:string"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OmMessageParametersType">
		<xsd:sequence>
			<xsd:element name="MsgDateTimeFrom" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="MsgDateTimeTo" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="ReceiverCustID" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Rubric" type="common:RubricType" minOccurs="0"/>
			<xsd:element name="AlreadyRead" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="SortOrder" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="MessageType" type="common:string10_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OmMessageType">
		<xsd:sequence>
			<xsd:element name="Content" type="common:OmMessageContentType"/>
			<xsd:element name="OrderHeader" type="common:OrderHeaderResponseSeekOrderMessageType" minOccurs="0"/>
			<xsd:element name="Parameters" type="common:ParametersType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderRequestCancelType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
				<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderRequestChangeType">
		<xsd:sequence>
			<xsd:element name="OrderType" type="common:OrderType_Type"/>
			<xsd:element name="State" type="common:StateType" minOccurs="0"/>
			<xsd:element name="Released" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="OrderDesc" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="OrderLabel" type="common:string80_Type" minOccurs="0"/>
			<xsd:element name="SubmissionType" type="common:string1_Type" minOccurs="0"/>
			<xsd:element name="SubmissionID" type="common:Number4.0_Type" minOccurs="0"/>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TotalAmount" type="common:ItemTotalAmountType" minOccurs="0"/>
			<xsd:element name="RefOrder" type="common:RefOrderType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderRequestCreateType">
		<xsd:sequence>
			<xsd:element name="OrderType" type="common:OrderType_Type"/>
			<xsd:element name="State" type="common:StateType" minOccurs="0"/>
			<xsd:element name="Released" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="OrderDesc" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="OrderLabel" type="common:string80_Type" minOccurs="0"/>
			<xsd:element name="SubmissionType" type="common:string1_Type" minOccurs="0"/>
			<xsd:element name="SubmissionID" type="common:Number4.0_Type" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" maxOccurs="unbounded"/>
			<xsd:element name="TotalAmount" type="common:ItemTotalAmountType" minOccurs="0"/>
			<xsd:element name="RefOrder" type="common:RefOrderType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderRequestGetType">
		<xsd:sequence>
			<xsd:element name="State" type="common:StateType" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
				<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderRequestSeekOrderMessageType">
		<xsd:sequence>
			<xsd:element name="OrderCategory" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="OrderCategoryGroup" type="common:string50_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderRequestSeekType">
		<xsd:sequence>
			<xsd:element name="OrderType" type="common:OrderType_Type" minOccurs="0"/>
			<xsd:element name="State" type="common:StateType" minOccurs="0"/>
			<xsd:element name="Released" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="AchievedDataQuality" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="IsActive" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="OrderDesc" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="OrderLabel" type="common:string80_Type" minOccurs="0"/>
			<xsd:element name="ChangedSince" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="OrderCategory" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="OrderCategoryGroup" type="common:string50_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderResponseCancelType">
		<xsd:sequence>
			<xsd:element name="ProductionState" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="ChangedAt" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RefOrder" type="common:RefOrderMultipleType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderResponseCreateChangeType">
		<xsd:sequence>
			<xsd:element name="ProductionState" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="ChangedAt" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="State" type="common:StateType"/>
			<xsd:element name="AchievedDataQuality" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="OrderCategory" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="OrderCategoryGroup" type="common:string50_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TotalAmount" type="common:ItemTotalAmountType" minOccurs="0"/>
			<xsd:element name="RefOrder" type="common:RefOrderMultipleType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderResponseGetType">
		<xsd:sequence>
			<xsd:element name="ProductionState" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="ChangedAt" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="OrderType" type="common:OrderType_Type"/>
			<xsd:element name="State" type="common:StateType"/>
			<xsd:element name="Released" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="AchievedDataQuality" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="IsActive" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="OrderDesc" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="OrderLabel" type="common:string80_Type" minOccurs="0"/>
			<xsd:element name="CreationDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="SubmissionType" type="common:string1_Type" minOccurs="0"/>
			<xsd:element name="SubmissionID" type="common:Number4.0_Type" minOccurs="0"/>
			<xsd:element name="OrderCategory" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="OrderCategoryGroup" type="common:string50_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TotalAmount" type="common:ItemTotalAmountType"/>
			<xsd:element name="RefOrder" type="common:RefOrderMultipleType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="includesDestinations" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="includesPackaging" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderResponseSeekOrderMessageType">
		<xsd:sequence>
			<xsd:element name="OrderCategory" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="OrderCategoryGroup" type="common:string50_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderResponseSeekType">
		<xsd:sequence>
			<xsd:element name="ProductionState" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="ChangedAt" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="OrderType" type="common:OrderType_Type" minOccurs="0"/>
			<xsd:element name="State" type="common:StateType" minOccurs="0"/>
			<xsd:element name="Released" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="AchievedDataQuality" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="IsActive" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="OrderDesc" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="OrderLabel" type="common:string80_Type" minOccurs="0"/>
			<xsd:element name="CreationDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="OrderCategory" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="OrderCategoryGroup" type="common:string50_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TotalQty" type="common:Number9.0_Type"/>
			<xsd:element name="TotalAmount" type="common:ItemTotalAmountType" minOccurs="0"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="includesDestinations" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="includesPackaging" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderTreeGetType">
		<xsd:sequence>
			<xsd:element name="ProductionState" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="ChangedAt" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="OrderType" type="common:string2_Type" minOccurs="0"/>
			<xsd:element name="State" type="common:StateType" minOccurs="0"/>
			<xsd:element name="Released" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="AchievedDataQuality" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="IsActive" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="CreationDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="OrderCategory" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="OrderCategoryGroup" type="common:string50_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TotalAmount" type="common:ItemTotalAmountType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="includesDestinations" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="includesPackaging" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="OrderHeaderTreeSeekType">
		<xsd:sequence>
			<xsd:element name="ProductionState" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="ChangedAt" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="OrderType" type="common:string2_Type" minOccurs="0"/>
			<xsd:element name="State" type="common:StateType" minOccurs="0"/>
			<xsd:element name="Released" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="AchievedDataQuality" type="common:string3_Type" minOccurs="0"/>
			<xsd:element name="IsActive" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="OrderDesc" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="OrderLabel" type="common:string80_Type" minOccurs="0"/>
			<xsd:element name="CreationDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="OrderCategory" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="OrderCategoryGroup" type="common:string50_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TotalQty" type="common:Number9.0_Type"/>
			<xsd:element name="TotalAmount" type="common:ItemTotalAmountType" minOccurs="0"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="includesDestinations" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="includesPackaging" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:simpleType name="OrderIdType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="14"/>
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="OrderTreeGetType">
		<xsd:sequence>
			<xsd:element name="OrderHeader" type="common:OrderHeaderTreeGetType"/>
			<xsd:element name="OrderTree" type="common:OrderTreeGetType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderTreeSeekType">
		<xsd:sequence>
			<xsd:element name="OrderHeader" type="common:OrderHeaderTreeSeekType"/>
			<xsd:element name="Parties" type="common:PartiesSeekTypeWithContract" minOccurs="0"/>
			<xsd:element name="Induction" type="common:InductionSeekResponseType" minOccurs="0"/>
			<xsd:element name="OrderTree" type="common:OrderTreeSeekType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="OrderType_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="OriginType">
		<xsd:sequence>
			<xsd:element name="SystemName" type="common:string15_Type"/>
			<xsd:element name="SystemVersion" type="common:string20_Type" minOccurs="0"/>
			<xsd:element name="CertificationDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OtherAttributeType">
		<xsd:attribute name="type" type="common:string50_Type" use="required"/>
		<xsd:attribute name="value" type="common:string50_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="OtherPartyChangeType">
		<xsd:sequence>
			<xsd:element name="Role" type="common:string25_Type" minOccurs="0"/>
			<xsd:element name="CustID" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OtherPartySeekType">
		<xsd:sequence>
			<xsd:element name="Role" type="common:string25_Type" minOccurs="0"/>
			<xsd:element name="CustID" type="common:string10_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OtherPartyType">
		<xsd:sequence>
			<xsd:element name="Role" type="common:string25_Type" minOccurs="0"/>
			<xsd:element name="CustID" type="common:string10_Type"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageResponseGetType">
		<xsd:sequence>
			<xsd:element name="GWM" type="common:GWMType" minOccurs="0"/>
			<xsd:element name="NWM" type="common:NWMType" minOccurs="0"/>
			<xsd:element name="Ref" type="common:RefResponseGetType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="packageID" type="common:string20_Type"/>
		<xsd:attribute name="productGroup" type="common:string1-15_Type"/>
		<xsd:attribute name="format" type="common:string1-15_Type"/>
		<xsd:attribute name="sortMethod" type="common:string1-15_Type"/>
		<xsd:attribute name="type" type="common:PackageTypeType"/>
		<xsd:attribute name="refPackage" type="common:string20_Type"/>
		<xsd:attribute name="stackable" type="xsd:boolean"/>
		<xsd:attribute name="frameQty" type="common:string2_Type"/>
		<xsd:attribute name="zipDst" type="common:string5_Type"/>
		<xsd:attribute name="zipFrom" type="common:string10_Type"/>
		<xsd:attribute name="zipTo" type="common:string10_Type"/>
	</xsd:complexType>
	<xsd:complexType name="PackageType">
		<xsd:sequence>
			<xsd:element name="GWM" type="common:GWMType" minOccurs="0"/>
			<xsd:element name="NWM" type="common:NWMType" minOccurs="0"/>
			<xsd:element name="Ref" type="common:RefPackageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="packageID" type="common:string20_Type" use="optional"/>
		<xsd:attribute name="productGroup" type="common:string1-15_Type" use="optional"/>
		<xsd:attribute name="format" type="common:string1-15_Type" use="optional"/>
		<xsd:attribute name="sortMethod" type="common:string1-15_Type" use="optional"/>
		<xsd:attribute name="refPackage" type="common:string20_Type" use="optional"/>
		<xsd:attribute name="type" type="common:PackageTypeType" use="optional"/>
		<xsd:attribute name="stackable" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="frameQty" type="common:Number2.0_Type" use="optional"/>
		<xsd:attribute name="zipDst" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="deliveryBase" type="common:string20_Type" use="optional"/>
		<xsd:attribute name="zipFrom" type="common:string10_Type" use="optional"/>
		<xsd:attribute name="zipTo" type="common:string10_Type" use="optional"/>
	</xsd:complexType>
	<xsd:simpleType name="PackageTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PackagingType">
		<xsd:sequence>
			<xsd:element name="SlotQty" type="common:Number4.0_Type" minOccurs="0"/>
			<xsd:element name="Type" type="common:PackageTypeType" minOccurs="0"/>
			<xsd:element name="Qty" type="common:Number5.0_Type" minOccurs="0"/>
			<xsd:element name="Package" type="common:PackageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackagingUpdateMethodChangeType">
		<xsd:sequence>
			<xsd:element name="SlotQty" type="common:Number4.0_Type" minOccurs="0"/>
			<xsd:element name="Type" type="common:PackageTypeType" minOccurs="0"/>
			<xsd:element name="Qty" type="common:Number5.0_Type" minOccurs="0"/>
			<xsd:element name="Package" type="common:PackageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="updateMethod" type="common:string10_Type"/>
	</xsd:complexType>
	<xsd:complexType name="PackagingUpdateMethodType">
		<xsd:sequence>
			<xsd:element name="SlotQty" type="common:Number4.0_Type" minOccurs="0"/>
			<xsd:element name="Type" type="common:PackageTypeType" minOccurs="0"/>
			<xsd:element name="Qty" type="common:Number5.0_Type" minOccurs="0"/>
			<xsd:element name="Package" type="common:PackageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="updateMethod" type="common:string10_Type"/>
	</xsd:complexType>
	<xsd:complexType name="ParametersType">
		<xsd:sequence>
			<xsd:element name="TextParameter" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="type" type="common:string17_Type"/>
					<xsd:attribute name="value" type="common:string50_Type"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ParticipationType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PartiesChangeType">
		<xsd:sequence>
			<xsd:element name="Originator" type="common:CustDetailsChangeTypeWithCustomsNumber" minOccurs="0"/>
			<xsd:element name="Producer" type="common:CustDetailsChangeType" minOccurs="0"/>
			<xsd:element name="Submitter" type="common:CustDetailsChangeType" minOccurs="0"/>
			<xsd:element name="Payer" type="common:PayerChangeType" minOccurs="0"/>
			<xsd:element name="OtherParty" type="common:OtherPartyChangeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartiesSeekTypeOnlyWithContract">
		<xsd:sequence>
			<xsd:element name="Payer" type="common:CustDetailsSeekTypePayerOnlyWithContract" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartiesSeekTypeWithContract">
		<xsd:sequence>
			<xsd:element name="Originator" type="common:CustDetailsSeekTypeGeneral" minOccurs="0"/>
			<xsd:element name="Producer" type="common:CustDetailsSeekTypeGeneral" minOccurs="0"/>
			<xsd:element name="Submitter" type="common:CustDetailsSeekTypeGeneral" minOccurs="0"/>
			<xsd:element name="Payer" type="common:CustDetailsSeekTypePayerWithCustIDAndContract" minOccurs="0"/>
			<xsd:element name="OtherParty" type="common:OtherPartySeekType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartiesSeekTypeWithoutContract">
		<xsd:sequence>
			<xsd:element name="Originator" type="common:CustDetailsSeekTypeGeneral" minOccurs="0"/>
			<xsd:element name="Producer" type="common:CustDetailsSeekTypeGeneral" minOccurs="0"/>
			<xsd:element name="Submitter" type="common:CustDetailsSeekTypeGeneral" minOccurs="0"/>
			<xsd:element name="Payer" type="common:CustDetailsSeekTypeGeneral" minOccurs="0"/>
			<xsd:element name="OtherParty" type="common:OtherPartySeekType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartiesSeekTypeWithPayerCustIDOptionalAndWithContract">
		<xsd:sequence>
			<xsd:element name="Originator" type="common:CustDetailsSeekTypeGeneral" minOccurs="0"/>
			<xsd:element name="Producer" type="common:CustDetailsSeekTypeGeneral" minOccurs="0"/>
			<xsd:element name="Submitter" type="common:CustDetailsSeekTypeGeneral" minOccurs="0"/>
			<xsd:element name="Payer" type="common:CustDetailsSeekTypePayerWithCustIDOptionalAndContract" minOccurs="0"/>
			<xsd:element name="OtherParty" type="common:OtherPartySeekType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartiesType">
		<xsd:sequence>
			<xsd:element name="Originator" type="common:CustDetailsTypeWithCustomsNumber" minOccurs="0"/>
			<xsd:element name="Producer" type="common:CustDetailsType" minOccurs="0"/>
			<xsd:element name="Submitter" type="common:CustDetailsType" minOccurs="0"/>
			<xsd:element name="Payer" type="common:PayerType" minOccurs="0"/>
			<xsd:element name="OtherParty" type="common:OtherPartyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PasswordType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="6"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PayerChangeType">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0"/>
			<xsd:element name="Contract" type="common:ContractType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PaymentMeans" type="common:PaymentMeansType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PayerSeekTypeOnlyWithContract">
		<xsd:sequence>
			<xsd:element name="Payer" type="common:CustDetailsSeekTypePayerOnlyWithContract" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PayerSeekTypeWithCustIDAndContract">
		<xsd:sequence>
			<xsd:element name="Payer" type="common:CustDetailsSeekTypePayerWithCustIDAndContract" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PayerType">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0"/>
			<xsd:element name="Contract" type="common:ContractType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PaymentMeans" type="common:PaymentMeansType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentMeansType">
		<xsd:sequence>
			<xsd:element name="Procedure" type="common:ProcedureType" minOccurs="0"/>
			<xsd:element name="Participation" type="common:ParticipationType" minOccurs="0"/>
			<xsd:element name="PostCardID" type="common:PostCardIDType" minOccurs="0"/>
			<xsd:element name="FinancialAccount" type="common:FinancialAccountType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POBAddressType">
		<xsd:sequence>
			<xsd:element name="Zip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="CityName" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="Postbox" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="CC" type="common:string2Fix_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PostageAmountValueType">
		<xsd:attribute name="value" type="common:Number10.2_Type" use="required"/>
		<xsd:attribute name="currency" type="common:string3_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="PostageType">
		<xsd:sequence>
			<xsd:element name="Type" type="common:string25_Type" minOccurs="0"/>
			<xsd:element name="Amount" type="common:PostageAmountValueType" minOccurs="0"/>
			<xsd:element name="AmountShipment" type="common:PostageAmountValueType" minOccurs="0"/>
			<xsd:element name="Code" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="PaymentClearingNumber" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="AdditionalCharge" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="FrankingIdPrefix" type="common:FrankingIdPrefixType" minOccurs="0"/>
			<xsd:element name="FrankingIdEncoding" type="common:string15_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PostCardIDType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="16"/>
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProcedureType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ProcessOrderManagementOperationsRequestType">
		<xsd:sequence>
			<xsd:element name="MsgHeader" type="common:MsgHeaderRequestType"/>
			<xsd:element name="OperationList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Operation" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="createOrderRequest" type="common:CreateOrderRequestBulkType" minOccurs="0"/>
									<xsd:element name="changeOrderRequest" type="common:ChangeOrderRequestBulkType" minOccurs="0"/>
									<xsd:element name="cancelOrderRequest" type="common:CancelOrderRequestBulkType" minOccurs="0"/>
								</xsd:choice>
								<xsd:attribute name="consecutiveNumber" type="common:Number6.0_Type" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessOrderManagementOperationsRequestType_DOKU">
		<xsd:sequence>
			<xsd:element name="MsgHeader" type="common:MsgHeaderRequestType"/>
			<xsd:element name="OperationList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Operation" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="createOrderRequest" type="common:CreateOrderRequestType_DOKU" minOccurs="0"/>
									<xsd:element name="changeOrderRequest" type="common:ChangeOrderRequestType_DOKU" minOccurs="0"/>
									<xsd:element name="cancelOrderRequest" type="common:CancelOrderRequestType_DOKU" minOccurs="0"/>
								</xsd:choice>
								<xsd:attribute name="consecutiveNumber" type="common:Number6.0_Type" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessOrderManagementOperationsResponseType">
		<xsd:sequence>
			<xsd:element name="Return" type="common:ReturnType"/>
			<xsd:element name="MsgHeader" type="common:MsgHeaderResponseType"/>
			<xsd:element name="OperationList" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Operation" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="createOrderResponse" type="common:CreateChangeCancelOrderResponseBulkType" minOccurs="0"/>
									<xsd:element name="changeOrderResponse" type="common:CreateChangeCancelOrderResponseBulkType" minOccurs="0"/>
									<xsd:element name="cancelOrderResponse" type="common:CreateChangeCancelOrderResponseBulkType" minOccurs="0"/>
								</xsd:choice>
								<xsd:attribute name="consecutiveNumber" type="common:Number6.0_Type" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessOrderManagementOperationsResponseType_DOKU">
		<xsd:sequence>
			<xsd:element name="Return" type="common:ReturnType"/>
			<xsd:element name="MsgHeader" type="common:MsgHeaderResponseType"/>
			<xsd:element name="OperationList" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Operation" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:choice>
									<xsd:element name="createOrderResponse" type="common:CreateChangeCancelOrderResponseType_DOKU" minOccurs="0"/>
									<xsd:element name="changeOrderResponse" type="common:CreateChangeCancelOrderResponseType_DOKU" minOccurs="0"/>
									<xsd:element name="cancelOrderResponse" type="common:CreateChangeCancelOrderResponseType_DOKU" minOccurs="0"/>
								</xsd:choice>
								<xsd:attribute name="consecutiveNumber" type="common:Number6.0_Type" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="QuantityType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="9"/>
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="RangeType">
		<xsd:attribute name="from" type="common:string1-9_Type" use="required"/>
		<xsd:attribute name="to" type="common:string1-9_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="RefDestinationType">
		<xsd:sequence>
			<xsd:element name="Range" type="common:RefDstType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="prec" type="common:string1Fix_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="RefDstType">
		<xsd:attribute name="from" type="common:string1-9_Type" use="optional"/>
		<xsd:attribute name="to" type="common:string1-9_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="RefOrderMultipleType">
		<xsd:sequence>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RefOrderType">
		<xsd:sequence>
			<xsd:element name="OrderID" type="common:OrderIdType" minOccurs="0"/>
			<xsd:element name="CustOrderID" type="common:CustOrderIDType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RefPackageType">
		<xsd:sequence>
			<xsd:element name="RefOrder" type="common:RefOrderType" minOccurs="0"/>
			<xsd:element name="RefShipment" type="common:RefShipmentTypeWithoutRefSupplement" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RefResponseGetType">
		<xsd:sequence>
			<xsd:element name="RefOrder" type="common:RefOrderMultipleType" minOccurs="0"/>
			<xsd:element name="RefShipment" type="common:RefShipmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RefShipmentType">
		<xsd:sequence>
			<xsd:element name="RefShipmentID" type="common:Number5.0_Type" minOccurs="0"/>
			<xsd:element name="RefSupplementID" type="common:Number5.0_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Qty" type="common:Number9.0_Type" minOccurs="0"/>
			<xsd:element name="Range" type="common:RangeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RefShipmentTypeWithoutRefSupplement">
		<xsd:sequence>
			<xsd:element name="RefShipmentID" type="common:Number5.0_Type" minOccurs="0"/>
			<xsd:element name="Qty" type="common:Number9.0_Type" minOccurs="0"/>
			<xsd:element name="Range" type="common:RangeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RefType">
		<xsd:sequence>
			<xsd:element name="RefOrder" type="common:RefOrderType" minOccurs="0"/>
			<xsd:element name="RefShipment" type="common:RefShipmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReturnType">
		<xsd:sequence>
			<xsd:element name="ReturnCode" type="common:string10_Type"/>
			<xsd:element name="ErrMsg" type="common:ErrorMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="RubricType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SearchResultType">
		<xsd:sequence>
			<xsd:element name="OrderHeader" type="common:OrderHeaderResponseSeekType"/>
			<xsd:element name="Parties" type="common:PartiesSeekTypeWithContract" minOccurs="0"/>
			<xsd:element name="Induction" type="common:InductionSeekResponseType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SeekMessageResultType">
		<xsd:sequence>
			<xsd:element name="OmMessage" type="common:OmMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SeekOrderMessageRequestType">
		<xsd:sequence>
			<xsd:element name="MsgHeader" type="common:MsgHeaderRequestType"/>
			<xsd:element name="OrderHeader" type="common:OrderHeaderRequestSeekOrderMessageType" minOccurs="0"/>
			<xsd:element name="Parties" type="common:PartiesSeekTypeOnlyWithContract" minOccurs="0"/>
			<xsd:element name="OmMessageParameters" type="common:OmMessageParametersType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="maxResult" type="common:Number5.0_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="SeekOrderMessageResponseType">
		<xsd:sequence>
			<xsd:element name="Return" type="common:ReturnType"/>
			<xsd:element name="MsgHeader" type="common:MsgHeaderResponseType"/>
			<xsd:element name="SeekMessageResult" type="common:SeekMessageResultType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="maxResultsExceeded" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="SeekOrderRequestType">
		<xsd:sequence>
			<xsd:element name="MsgHeader" type="common:MsgHeaderRequestType"/>
			<xsd:element name="OrderHeader" type="common:OrderHeaderRequestSeekType" minOccurs="0"/>
			<xsd:element name="Parties" type="common:PartiesSeekTypeWithPayerCustIDOptionalAndWithContract" minOccurs="0"/>
			<xsd:element name="Induction" type="common:InductionSeekType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="maxResult" type="common:string2_Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="SeekOrderResponseType">
		<xsd:sequence>
			<xsd:element name="Return" type="common:ReturnType"/>
			<xsd:element name="MsgHeader" type="common:MsgHeaderResponseType"/>
			<xsd:element name="SearchResult" type="common:SearchResultType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OrderTree" type="common:OrderTreeSeekType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="codeTableVersion" type="common:string5_Type" use="optional"/>
		<xsd:attribute name="version" type="common:string5_Type" use="required"/>
		<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="maxResultsExceeded" type="xsd:boolean" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ShipmentChangeRequestType">
		<xsd:sequence>
			<xsd:element name="ShipmentID" type="common:Number5.0_Type" minOccurs="0"/>
			<xsd:element name="Desc" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Type" type="common:string25_Type" minOccurs="0"/>
			<xsd:element name="GWM" type="common:GWMType" minOccurs="0"/>
			<xsd:element name="Qty" type="common:Number9.0_Type" minOccurs="0"/>
			<xsd:element name="AdditionalQty" type="common:Number9.0_Type" minOccurs="0"/>
			<xsd:element name="TotalQty" type="common:Number9.0_Type" minOccurs="0"/>
			<xsd:element name="MachineProcessable" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="MachineReadable" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Addressed" type="common:string1Fix_Type" minOccurs="0"/>
			<xsd:element name="CodeApplied" type="common:Value50Type_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IndividualWeight" type="common:IndividualWeightType" minOccurs="0"/>
			<xsd:element name="Format" type="common:string1Fix_Type" minOccurs="0"/>
			<xsd:element name="Length" type="common:LengthType" minOccurs="0"/>
			<xsd:element name="Width" type="common:WidthType" minOccurs="0"/>
			<xsd:element name="Thickness" type="common:ThicknessType" minOccurs="0"/>
			<xsd:element name="InsuredValue" type="common:InsuredValueType" minOccurs="0"/>
			<xsd:element name="CODAmount" type="common:CODAmountValueType" minOccurs="0"/>
			<xsd:element name="NonDeliveryDisposition" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Supplement" type="common:SupplementType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Postage" type="common:PostageType" minOccurs="0"/>
			<xsd:element name="Destination" type="common:DestinationType" minOccurs="0"/>
			<xsd:element name="RefDst" type="common:RefDestinationType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="updateMethod" type="common:string10_Type"/>
	</xsd:complexType>
	<xsd:complexType name="ShipmentCreateRequestType">
		<xsd:sequence>
			<xsd:element name="ShipmentID" type="common:Number5.0_Type" minOccurs="0"/>
			<xsd:element name="Desc" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Type" type="common:string25_Type" minOccurs="0"/>
			<xsd:element name="GWM" type="common:GWMType" minOccurs="0"/>
			<xsd:element name="Qty" type="common:Number9.0_Type" minOccurs="0"/>
			<xsd:element name="AdditionalQty" type="common:Number9.0_Type" minOccurs="0"/>
			<xsd:element name="TotalQty" type="common:Number9.0_Type" minOccurs="0"/>
			<xsd:element name="MachineProcessable" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="MachineReadable" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Addressed" type="common:string1Fix_Type" minOccurs="0"/>
			<xsd:element name="CodeApplied" type="common:Value50Type_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IndividualWeight" type="common:IndividualWeightType" minOccurs="0"/>
			<xsd:element name="Format" type="common:string1Fix_Type" minOccurs="0"/>
			<xsd:element name="Length" type="common:LengthType" minOccurs="0"/>
			<xsd:element name="Width" type="common:WidthType" minOccurs="0"/>
			<xsd:element name="Thickness" type="common:ThicknessType" minOccurs="0"/>
			<xsd:element name="InsuredValue" type="common:InsuredValueType" minOccurs="0"/>
			<xsd:element name="CODAmount" type="common:CODAmountValueType" minOccurs="0"/>
			<xsd:element name="NonDeliveryDisposition" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Supplement" type="common:SupplementType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Postage" type="common:PostageType" minOccurs="0"/>
			<xsd:element name="Destination" type="common:DestinationType" minOccurs="0"/>
			<xsd:element name="RefDst" type="common:RefDestinationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentItemRequestChangeType">
		<xsd:sequence>
			<xsd:element name="Shipment" type="common:ShipmentChangeRequestType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Item" type="common:ItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentItemRequestCreateType">
		<xsd:sequence>
			<xsd:element name="Shipment" type="common:ShipmentCreateRequestType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Item" type="common:ItemType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentItemRequestType">
		<xsd:sequence>
			<xsd:element name="Shipment" type="common:ShipmentChangeRequestType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Item" type="common:ItemType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentItemResponseGetType">
		<xsd:sequence>
			<xsd:element name="Shipment" type="common:ShipmentResponseType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Item" type="common:ItemResponseGetType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentItemResponseType">
		<xsd:sequence>
			<xsd:element name="Shipment" type="common:ShipmentResponseType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Item" type="common:ItemType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentResponseType">
		<xsd:sequence>
			<xsd:element name="ShipmentID" type="common:Number5.0_Type" minOccurs="0"/>
			<xsd:element name="Desc" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Type" type="common:string25_Type" minOccurs="0"/>
			<xsd:element name="GWM" type="common:GWMType" minOccurs="0"/>
			<xsd:element name="Qty" type="common:Number9.0_Type" minOccurs="0"/>
			<xsd:element name="AdditionalQty" type="common:Number9.0_Type" minOccurs="0"/>
			<xsd:element name="TotalQty" type="common:Number9.0_Type" minOccurs="0"/>
			<xsd:element name="MachineProcessable" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="MachineReadable" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Addressed" type="common:string1Fix_Type" minOccurs="0"/>
			<xsd:element name="CodeApplied" type="common:Value50Type_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IndividualWeight" type="common:IndividualWeightType" minOccurs="0"/>
			<xsd:element name="Format" type="common:string1Fix_Type" minOccurs="0"/>
			<xsd:element name="Length" type="common:LengthType" minOccurs="0"/>
			<xsd:element name="Width" type="common:WidthType" minOccurs="0"/>
			<xsd:element name="Thickness" type="common:ThicknessType" minOccurs="0"/>
			<xsd:element name="InsuredValue" type="common:InsuredValueType" minOccurs="0"/>
			<xsd:element name="CODAmount" type="common:CODAmountValueType" minOccurs="0"/>
			<xsd:element name="NonDeliveryDisposition" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Supplement" type="common:SupplementType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Postage" type="common:PostageType" minOccurs="0"/>
			<xsd:element name="Destination" type="common:DestinationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StateType">
		<xsd:simpleContent>
			<xsd:extension base="common:string3_Type">
				<xsd:attribute name="final" type="xsd:boolean" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StatisticalOrderItemType">
		<xsd:sequence>
			<xsd:element name="RemittanceNumber" type="common:Number10Type"/>
			<xsd:element name="UsageNumber" type="common:Number10Type"/>
			<xsd:element name="EkpIDCustomer" type="common:String10Type" minOccurs="0"/>
			<xsd:element name="CurrentDate" type="xsd:gYearMonth"/>
			<xsd:element name="ProductIDUBMail" type="common:Number5Type"/>
			<xsd:element name="NumberOfProducts" type="common:Number10Type"/>
			<xsd:element name="Amount" type="common:Number10Type"/>
			<xsd:element name="Currency" type="common:String3Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StatisticalOrderListType">
		<xsd:sequence>
			<xsd:element name="StatisticalOrder" type="common:StatisticalOrderType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StatisticalOrderType">
		<xsd:sequence>
			<xsd:element name="RemittanceNumber" type="common:Number10Type"/>
			<xsd:element name="ReceiptNumber" type="common:Number10Type"/>
			<xsd:element name="Client" type="common:String3Type"/>
			<xsd:element name="FrankingType" type="common:Number3Type"/>
			<xsd:element name="FrankingVersion" type="common:Number3Type"/>
			<xsd:element name="VersionPPL" type="common:Number3Type"/>
			<xsd:element name="CommunicationID" type="common:Number3Type"/>
			<xsd:element name="DateTimeOfCharge" type="xsd:dateTime"/>
			<xsd:element name="TotalChargeAmount" type="common:Number13Type"/>
			<xsd:element name="RemainingChargeAmount" type="common:Number8Type"/>
			<xsd:element name="CurrentUse" type="common:Number10Type"/>
			<xsd:element name="ItemNumber" type="common:Number10Type"/>
			<xsd:element name="ChargeAmount" type="common:Number10Type"/>
			<xsd:element name="EkpIDMailInitiator" type="common:String10Type"/>
			<xsd:element name="ProcessParticipation" type="common:String4Type" minOccurs="0"/>
			<xsd:element name="MaschineNumber" type="common:String10Type"/>
			<xsd:element name="StatisticalOrderItem" type="common:StatisticalOrderItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="string1-10_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1-12_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1-15_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1-9_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1-20_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1-35_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1-40_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1-50_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1-200_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string100_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String10Type">
		<xsd:restriction base="xsd:string">
			<xsd:length value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string10_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string11_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string120_type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="120"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string13_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string14_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string15_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string17_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string18_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1Fix_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string1_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string20_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string25_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string2Fix_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string2_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string32_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string35_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string3Fix_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String3Type">
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string3_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string40_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String4Type">
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string4_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string50_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string5_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String64Type">
		<xsd:restriction base="xsd:string">
			<xsd:length value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string80_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string8_Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SubmitterSMSType">
		<xsd:sequence>
			<xsd:element name="CustID" type="common:string10_Type"/>
			<xsd:element name="Name" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Address" type="common:AddressType" minOccurs="0"/>
			<xsd:element name="POBAddress" type="common:POBAddressType" minOccurs="0"/>
			<xsd:element name="LargeCustZip" type="common:string10_Type" minOccurs="0"/>
			<xsd:element name="Contact" type="common:ContactType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SupplementType">
		<xsd:sequence>
			<xsd:element name="SupplementID" type="common:Number5.0_Type" minOccurs="0"/>
			<xsd:element name="Desc" type="common:string120_type" minOccurs="0"/>
			<xsd:element name="Type" type="common:string50_Type" minOccurs="0"/>
			<xsd:element name="IndividualWeight" type="common:IndividualWeightType" minOccurs="0"/>
			<xsd:element name="Thickness" type="common:ThicknessType" minOccurs="0"/>
			<xsd:element name="Qty" type="common:Number4.0_Type" minOccurs="0"/>
			<xsd:element name="OtherAttribute" type="common:OtherAttributeType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ThicknessSupplementType">
		<xsd:attribute name="value" type="common:Number10.0_Type" use="optional"/>
		<xsd:attribute name="unit" type="common:UnitType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ThicknessType">
		<xsd:attribute name="value" type="common:Number9.3_Type" use="required"/>
		<xsd:attribute name="unit" type="common:UnitType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="TotalAmountType">
		<xsd:attribute name="value" type="common:string13_Type" use="optional"/>
		<xsd:attribute name="currency" type="common:string3_Type" use="optional"/>
	</xsd:complexType>
	<xsd:simpleType name="UnitType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UserType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="4"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Value50Type_Type">
		<xsd:attribute name="value" type="common:string50_Type" use="required"/>
		<xsd:attribute name="type" type="common:string10_Type" use="optional"/>
	</xsd:complexType>
	<xsd:simpleType name="Value5Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="5"/>
			<xsd:pattern value="[0-9]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ValueUnitType">
		<xsd:attribute name="value" type="xsd:string" use="optional"/>
		<xsd:attribute name="unit" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="WidthType">
		<xsd:attribute name="value" type="common:Number9.3_Type" use="required"/>
		<xsd:attribute name="unit" type="common:UnitType" use="optional"/>
	</xsd:complexType>
</xsd:schema>
